<section>
    <div ng-controller="CountriesStatsController as statsCtl">
        <div id="visited_countries_chart" simple-pie class="simple_pie_chart" width='300' height='100'>
        </div>
        <div style="clear: both"></div>
        <hr/>
        <div id="progress_chart" progress-chart title="Countries">
        </div>
    </div>
    <br>
    <hr/>
    <div ng-if="isLoading">
        Loading...
    </div>
    <h1>Countries</h1>
    <div style="clear: both"></div>
    <div style="float: left">
        <button ng-disabled="changedCountriesCount() == 0" ng-click="markVisited()">Visit selected</button>
    </div>
    <div style="float: right">
        <input class="search-query" type="search" ng-model="searchText" placeholder="Search...">
    </div>
    <div style="clear: both"></div>
    <div ng-include src="'/templates/partials/navigation.html'"></div>
    <table>
        <tr>
            <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
            <th>Name</th>
            <th>Code</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="country in countries">
            <td>
                <input type="checkbox" ng-model="country.checked"/>
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.code }}</td>
            <td><span ng-if="country.visited">Visited</span><span ng-if="!country.visited">Not Visited</span></td>
            <td><a target="_self" href="/countries{{country.code}}">Show</a></td>
            <td><a target="_self" href="/countries/{{country.code}}/edit">Edit</a></td>
        </tr>
    </table>
</section>