<h1>
    Info
</h1>
<section>

    <p>
        What was done here:
    </p>
    <ul>
        <li>Introduce User model</li>
        <li>Use angular to display list of countries and currencies</li>
        <li>Added search feature</li>
        <li>Added pagination</li>
        <li>Added ability to check countries in the batch</li>
        <li>Added chart to display progress of visiting/collecting</li>
    </ul>
    <hr/>
    <p>
        What I would add next:
    <ul>
        <li>Admin panel for managing countries</li>
        <li>Tests for javascript</li>
    </ul>
    </p>
</section>